<div class="modal fade" id="modalEditar" tabindex="-1" aria-hidden="true" th:fragment="modaleditar">
  <div class="modal-dialog">
    <form class="modal-content" id="formEditar">
      <div class="modal-header">
        <h5 class="modal-title">Editar Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="idProducto" id="idEditar">
        <input type="text" class="form-control mb-2" name="nombre" id="nombreEditar" placeholder="Nombre" required>
        <input type="text" class="form-control mb-2" name="descripcion" id="descripcionEditar" placeholder="Descripción" required>
        <input type="number" step="0.01" class="form-control mb-2" name="precio" id="precioEditar" placeholder="Precio" required>
        <input type="number" class="form-control mb-2" name="stock" id="stockEditar" placeholder="Stock" required>
        <select class="form-control mb-2" name="id_categoria" id="categoriaEditar" required></select>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Actualizar</button>
      </div>
    </form>
  </div>
</div>
